.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: $global-white;
	background: none;
	border: 0;
	border-radius: 100px;
	transition: .2;
	cursor: pointer;

	&_type {
		&_round {
			width: 44px;
			height: 44px;

			svg {
				width: 24px;
				height: 24px;
			}
		}

		&_link {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: $global-grey-dark;

			&:hover {
				color: $global-blue;
			}
		}
	}

	&_color {
		&_blue {
			background: $global-blue;

			&:hover {
				background-color: rgba($global-blue, .8);
			}
		}

		&_transparent {
			background: transparent;
			border: 0.75px solid $global-grey-dark;
			border-radius: 75px;
		}
	}

	&_size {
		&_small {
			height: 44px;
			padding: 0 12px;
		}

		&_large {
			height: 80px;
			width: 80px;

			svg {
				width: 33px;
				height: 33px;
			}
		}

		&_extra {
			&_large {
				width: 270px;
				height: 60px;
				padding: 18px 24px;
			}
		}
	}

	&_with {
		&_icon {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 10px;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}