.footer {
	padding: 30px 0;
	background: $global-black-grey;

	@media (min-width: 1024px) {
		padding: 60px 0;
	}

	// .footer__inner
	&__inner {
		display: flex;
		flex-wrap: wrap;

		@media (min-width: 1024px) {
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}
	}

	// .footer__logo
	&__logo {
		width: 40%;

		@media (min-width: 1024px) {
			width: auto;
		}
	}

	// .footer__copyright
	&__copyright {
		width: 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: $global-grey-footer;

		@media (min-width: 1024px) {
			width: auto;
			font-size: 16px;
			line-height: 24px;
		}
	}
}

// .footer-navigation
.footer-navigation {
	width: 60%;

	@media (min-width: 1024px) {
		width: auto;
	}

	// .footer-navigation__list
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	// .footerr-navigation__item
	&__item {
		width: 50%;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $global-white;
		margin-bottom: 16px;

		@media (min-width: 1024px) {
			width: auto;
			margin-bottom: 0;
		}
	}

	&__item:not(:last-child) {
		@media (min-width: 1024px) {
			margin-right: 60px;
		}
	}

	// .footer-navigation__link
	&__link {
		color: $global-white-2;
		text-decoration: none;
		cursor: pointer;
	}
}