	//background
	$global-background-white: #f4f4f4;
	$global-background-white-2: #EFEFEF;
	$global-background-main: #bab4b4;
	//
	$global-black: #000;
	$global-black-grey: #1F222A;
	$global-blue: #3176FF;
	$global-white: #fff;
	$global-white-1: #FAFAFA;
	$global-white-2: #ebe5e5;
	$global-grey-dark: #4F575C;
	$glodal-grey-light: #D6D6D2;
	$global-grey-footer: rgba(239, 239, 239, 0.7);
	$color-text: rgba(79, 87, 92, 0.8);