.blog-promo {
  padding: 50px 0;
  background: #f4f4f4;
}
@media (min-width: 1024px) {
  .blog-promo {
    padding: 80px 0;
  }
}
@media (min-width: 1024px) {
  .blog-promo__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1024px) {
  .blog-promo__content {
    width: 50%;
  }
}
.blog-promo__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1F222A;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .blog-promo__title {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 20px;
  }
}
.blog-promo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1F222A;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .blog-promo__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .blog-promo__img {
    width: 50%;
  }
}
.blog-promo__img img {
  width: 100%;
}

.blog {
  padding: 50px 0;
}
@media (min-width: 1024px) {
  .blog {
    padding: 80px 0;
  }
}
.blog__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1F222A;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .blog__title {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 40px;
  }
}
.blog__inner {
  margin-bottom: 30px;
}
.blog__categories {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .blog__categories {
    margin-bottom: 40px;
  }
}
.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  overflow: auto;
}
@media (min-width: 1024px) {
  .blog__list {
    gap: 24px;
  }
}
.blog__item {
  width: 340px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 1024px) {
  .blog__item {
    width: 360px;
  }
}
.blog__actions {
  text-align: end;
}

.blog-tile {
  width: 100%;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 2px 10px rgba(79, 87, 92, 0.1);
          box-shadow: 0px 2px 10px rgba(79, 87, 92, 0.1);
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .blog-tile {
    width: 360px;
  }
}
.blog-tile__img img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1024px) {
  .blog-tile__img img {
    height: 230px;
    -o-object-fit: initial;
       object-fit: initial;
  }
}
.blog-tile__content {
  position: relative;
  padding: 12px;
}
.blog-tile__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F575C;
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  .blog-tile__title {
    margin-bottom: 10px;
  }
}
.blog-tile__subscription {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #1F222A;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .blog-tile__subscription {
    margin-bottom: 12px;
  }
}
.blog-tile__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F575C;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .blog-tile__description {
    margin-bottom: 12px;
  }
}
.blog-tile__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #4F575C;
  padding-top: 10px;
}
@media (min-width: 1024px) {
  .blog-tile__bottom {
    padding-top: 12px;
  }
}
.blog-tile__review {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F575C;
}
.blog-tile__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F575C;
}
.blog-tile__link {
  position: absolute;
  top: 12px;
  right: 12px;
}

.blog-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  overflow-x: auto;
}
.blog-categories__item {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4F575C;
}
@media (min-width: 1024px) {
  .blog-categories__item {
    font-size: 18px;
    line-height: 26px;
  }
}

.contact {
  padding: 50px 0;
}
.contact__heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1F222A;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .contact__heading {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 40px;
  }
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  .contact__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.contact__right {
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .contact__right {
    width: 50%;
    margin-bottom: 0;
    padding-left: 30px;
  }
}
.contact__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #1F222A;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .contact__left {
    width: 50%;
  }
}
.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.contact__item {
  width: 100%;
}
@media (min-width: 1024px) {
  .contact__item {
    width: 50%;
  }
}
.contact__item_type_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.form__button {
  width: 100%;
}
@media (min-width: 1024px) {
  .form__button {
    width: initial;
  }
}

.contact-tile {
  margin-bottom: 30px;
}
.contact-tile__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .contact-tile__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-tile__flag {
  width: 24px;
  height: 18px;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .contact-tile__flag {
    margin-bottom: 10px;
  }
}
.contact-tile__flag img {
  width: 100%;
}
.contact-tile__country {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #1F222A;
}
.contact-tile__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4F575C;
}
.contact-tile__address {
  margin-bottom: 10px;
}

.social__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.social__link {
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social__link_type_fb {
  background-image: url("../../src/images/svg/icon-fb-grey.svg");
}
.social__link_type_fb:hover {
  background-image: url("../../src/images/svg/icon-fb-colored.svg");
}
.social__link_type_ig {
  background-image: url("../../src/images/svg/icon-ig-grey.svg");
}
.social__link_type_ig:hover {
  background-image: url("../../src/images/svg/icon-ig-colored.svg");
}
.social__link_type_link {
  background-image: url("../../src/images/svg/icon-ln-grey.svg");
}
.social__link_type_link:hover {
  background-image: url("../../src/images/svg/icon-ln-colored.svg");
}